#contactForm {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: calc(100% - 20px);
    margin: 0 auto;
    margin-bottom: 80px;
}

#contactForm label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

#contactForm input[type="text"] {
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
}

#contactForm textarea {
    padding: 10px;
    width: calc(100% - 20px);
    height: 150px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 15px;
}

#contactForm button {
    background-color: #4CAF50;
    color: white;
    width: calc(100% - 20px);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
}

#contactForm button:hover {
    background-color: #45a049;
}

#contactForm h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Fredoka", sans-serif;
    padding: 20px;
    color: #333;
}

.contact-form-container {
    background-color: #f1f1f1;
    padding: 40px;
    border-radius: 10px;
    max-width: 800px;
    width: calc(100% - 80px);
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: center;
}

.contact-form-container p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #333;
}

.contact-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 15px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #45a049;
}
