@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

/* Media */
@media screen and (min-width: 400px) {
  .tab_class {
    width: calc(100% / 5);
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    margin: 0 auto;
  }

  .honbun h2 {
    font-size: large;
  }

  .honbun p {
    font-size: 15px;
  }
  .img {
    width: 30px;
    height: 70px;
  }

  .thumbnail1 {
    display: block;
  }

  .thumbnail2 {
    display: none;
  }

}
@media screen and (min-width: 960px) {
  .tab_class {
    width: 62px;
    margin: 0;
  }
  .honbun h2 {
    font-size: 	20px;
  }

  .honbun p {
    font-size: 15px;
  }

  .img {
    width: 50px;
    height: 70px;
  }

  .thumbnail1 {
    display: none;
  }

  .thumbnail2 {
    display: block;
  }
}


@keyframes load {
  0% {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
  }

  100% {

  }
}

@keyframes titleload {
  0% {
    transform: translateX(500px);
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
  }

  100% {

  }
}

@keyframes titleload2 {
  0% {
    opacity: 0;
    transform: translateX(500px);
    opacity: 0;
  }
  50% {
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes imgload {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes load2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

html {
  background-color: white;
}

body {
  margin: 0;
  overflow-y: scroll; 
  padding: 0%;
  background-size: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
  background-image: url(background.jpg);
  background-color: rgba(0,0,0,0.5);
  height: calc(100vh);
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
}

body::-webkit-scrollbar{
  display: none;
}

.area {
  max-width: 100%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  z-index: 8;
}

.bg2 {
  width: 100%;
  height: 50px;
  position: absolute;
  /* position: fixed; */
  top: 0px;
  background-color: rgba(240, 248, 255, 0.216);
}

.tab_class {
  z-index: 5;
  /* width: calc(100%/5); */
  /* width: 62px; */
  height: 50px;
  /* background-color: darkgrey; */
  /* background-color: rgba(169, 169, 169, 0.212); */
  line-height: 50px;
  font-size: 15px;
  color: aliceblue;
  text-align: center;
  display: block;
  float: left;
  order: -1;
  cursor: pointer;
  user-select: none;
}

input[name="tab_name"] {
  display: none;
}

input:checked + .tab_class {
  background-color: cadetblue;
  color: aliceblue;
}

input:not(:checked) + .tab_class:hover {
  background-color: cadetblue;
  color: aliceblue;
}

.content_class {
  display: none;
  width: 100%;
  height: calc(100vh - 100px);
  padding-top: 50px;
  /* top: 50px; */
  /* position: absolute; */
}

input:checked + .tab_class + .content_class {
  display: block;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  animation: load 0.5s;
}

.thumbnail1 {
  position: relative;
  bottom: 50px;
  height: calc(100vh - 50px);
  /* background-color: red; */
  padding: 0px;
}

.thumbnail2 {
  position: relative;
  bottom: 50px;
  height: calc(100vh - 50px);
  /* background-color: red; */
  padding: 0px;
}

.title {
  padding: 10px;
  max-width: 330px;
  height: 200px;
  position: relative;
  top: calc(50% - 100px);
  margin: 0 auto;
  color: white;
  /* background-color: royalblue; */
  background-color: rgba(255, 255, 255, 0);
  animation: load 1s;
}

.title2 {
  padding: 10px;
  max-width: 600px;
  height: 200px;
  position: relative;
  top: calc(50% - 100px);
  margin: 0 auto;
  color: white;
  /* background-color: royalblue; */
  background-color: rgba(255, 255, 255, 0);
  animation: load 1s;
}

h1{
  margin: 0;
}

/* ローディング画面 */
.load {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(42, 42, 42, 0);
  z-index: 180;
  color: rgba(255, 255, 255, 0);
  animation: load 2s;
  display: none;
}

.midashi {
  border: solid white;
  border-width: 15px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  width: 80%;
  animation: titleload 1s;
}

#logo {
  width: 50px;
  top: 20px;
  margin: 0 auto;
  position: absolute;
  animation: load2 1s;
  opacity: 0;
  color: white;
  user-select: none;
  -webkit-user-drag: none;
}

#logodiv {
  margin: 0pxs;
  padding: 0px;
  width: 300px;
  height: 100px;
  animation: load2 1s;
  opacity: 0;
  color: white;
  position: absolute;
  text-align: center;
  display: flex;
  margin: 0 auto;
  user-select: none;
  -webkit-user-drag: none;
}

.animation_1 {
  animation: titleload 2.25s;
}

.animation_6 {
  animation: imgload 2.25s;
}

.animation_3 {
  animation: titleload2 1.5s;
}



.animation_2 {
  animation: titleload 0.1s;
}

.white {
  background-color: white;
  width: 100%;
  height: calc(100% - 50px);
  /* height: 100%; */
  top: 50px;
  z-index: 2;
  left: 0;
  position: fixed;
}

.black {
  background-color: #334;
  width: 100%;
  /* height: calc(100vh - 50px); */
  height: 50px;
  z-index: 4;
  /* position: relative; */
  position: fixed;
  left: 0;
  bottom: 0px;
  /* top: calc(100% - 200px); */
  /* top: calc(100vh); */
}

.midashi2 {
  max-width: 400px;
  margin-left: 10px;
  border: solid black;
  border-bottom: 0;
  border-top: 0;
  border-right: 0;
  border-width: 15px;
  padding-left: 15px;
  vertical-align: middle;
  animation: load 0.5s;
}


.honbun {
  margin-left: 10px;
  animation: load 0.5s;
}

.linkanimation {
  animation: load 0.5s;
}

.imges img {
  margin-left: 15px;
  animation: imgload 0.5s;
}

.sns_youtube {
  width: 40px;
  height: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  user-select: none;
}

.sns_discord {
  width: 40px;
  height: 40px;
  user-select: none;
}

.sns_github {
  width: 40px;
  height: 40px;
  user-select: none;
}

.sns_twitter {
  width: 40px;
  height: 40px;
  background-image: url(data/sns/x.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.sns_twitter:hover {
  width: 40px;
  height: 40px;
  background-image: url(data/sns/twitter.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.sns_website {
  width: 40px;
  height: 40px;
  user-select: none;
}

.information {
  color: white;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.flex {
  display: flex;
}

.head {
  width: 350px;
  height: 200px;
}

nav li {
  height: calc(200px - 40px);
  text-decoration: underline;
}

.block {
  display: block;
}

li {
  display: block;
}

.triangle{
  width: 0px;
  height: 0px;
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-left: 100px solid rgba(0, 128, 0, 0);
  border-bottom: 100px solid rgb(39, 39, 39);
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.github_icon {
  width: 60px;
  height: 60px;
  padding: 15px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.post {
  background-color: #334;
  margin-right: 10px;
  display: flex;
}